<h2>My Todos</h2>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos"
            [class.selected]="todo === selectedTodo"
            (click)="onSelect(todo)">
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.description}}</td>
            <td>{{todo.status}}</td>
            </tr>
    </tbody>
</table>
<!-- <ul class="todos">
  <li *ngFor="let todo of todos"
    [class.selected]="todo === selectedTodo"
    (click)="onSelect(todo)">
    <div class="liContent">
        <span class="badge">{{todo.id}}</span> {{todo.description}}
    </div>
  </li>
</ul> -->

<div *ngIf="selectedTodo">
    <h2>{{selectedTodo.description}} Details</h2>
    <div class="form-group">
        <label>id: </label>
        {{selectedTodo.id}}
    </div>
    <div class="form-group">
        <label>todo: </label>
        <input class="form-control" [(ngModel)]="selectedTodo.description" placeholder="description..." />
    </div>
    <div>
        <label>status: </label>
        <input class="form-control" [(ngModel)]="selectedTodo.status" placeholder="done...not done" />
    </div>
</div>